body {
/*	background: #222;
	color: #fffcf5;*/
}

ul {
	list-style: none;
	margin: 0;
}

li {
	position: relative;
	float: left;
	margin-bottom: 0;
	height: 6rem;
}

a {
	text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
    /*color: #fffcf5;*/
}

.touch-screen-nav {
	display: none;
}

.touch-screen-nav li:nth-child(2) {
	float: none;
}

/*.touch-screen-nav .logo:parent {
	float: none;
}*/

.box-shadow-menu {
	border-bottom: 17px double black;
	border-top: 6px solid black;
	content: "";
	height: 0.5rem;
	width: 3rem;
	position: absolute;
	top: 15px;
}
.logo {
	display: block;
	margin-top: 10px;
}

.logo img {
	width: 4rem;
	border-radius: 5px;
	display: block;
	margin: auto;
}

.carousel {
	position: relative;
}

.carousel img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.arrow-link {
	display: block;
}

.arrow {
  width: 0; 
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.right {
  border-left: 3rem solid green;
  right: 1rem;
}

.left {
  border-right: 3rem solid blue;   
  left: 1rem;
}

.artist-info {
	position: absolute;
    right: 1rem;
    background: white;
    border-style: inset;
    top: 1rem;
    margin: 0;
    text-transform: none;
    padding: 4px;
}

h1, h2, h3, h4 {
	margin: 0;
}

.navbar-item:hover > .popover {
	display: block;
}

.popover:active {
	display: block;
}
/* Popover */
.popover {
	z-index: 1;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	top: 92%;
	left: -50%;
	-webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
	-moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
	filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
}

.header {
	padding: 0;
	width: 100%;
}

pre {
	font-size: 1rem;
	margin: 0;
	font-family: monospace;
	line-height: 1rem;
}
blockquote {
	 margin: 0;
}

footer {
    text-align: center;
}

.navbar-list {
	display: none;
}
.touch-screen-nav {
	display: block;
}

@media (max-width: 640px) {
	.navbar-list {
		display: none;
	}
	.touch-screen-nav {
		display: block;
	}
}